/*1024-1229*/
@media  screen and (max-width: 1180px) {
    .container {
        padding: 0 20px;
    }

    header .container {
        justify-content: space-between;
    }

    .menu-items {
        margin: 0;
    }

    .choice-items {
        grid-template-columns: 263px 263px;
        justify-content: center;
        gap: 136px 29px;
    }

    .description-items {
        grid-template-columns: 220px 220px 220px 220px;
    }
}

/*768-1023*/
@media screen and (max-width: 1023px) {
    .container {
        max-width: 728px;
        padding: 0 20px;
    }

    .main .container {
        flex-wrap: wrap;
        position: relative;
    }

    header .container {
        justify-content: flex-start;
    }

    .menu-items {
        margin-left: 103px;
    }

    .number {
        display: none;
    }

    .main-info {
        margin-top: 68px;
    }

    .main-image {
        position: absolute;
        right: 55px;
        bottom: 60px;
        margin-top: 0;
    }

    h1 {
        max-width: 580px;
    }

    .main-info-text {
        margin-top: 74px;
        margin-bottom: 41px;
    }

    .main-action {
        margin-bottom: 420px;
    }

    .description-info {
        display: block;
    }

    .description-info-title {
        text-align: center;
        margin: 0 auto;
    }

    .description-info-definition {
        text-align: center;
        margin: 60px auto 40px auto;
        max-width: 667px;
    }

    .description-image {
        margin: 0 auto;
        text-align: center;
    }

    .description-image img {
        max-width: 302px;
    }

    .description-items {
        grid-template-columns: 220px 220px;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 80px;
        margin-right: 118px;
        margin-left: 118px;
    }

    .description-item {
        max-width: 220px;
        text-align: center;
    }

    .score {
        margin: 0 auto 13px auto;
    }

    .choice-title {
        margin-bottom: 143px;
    }

    .choice-items {
        grid-template-columns: 263px 263px;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 136px;
        margin-left: 87px;
        margin-right: 87px;
    }

    .order .container {
        display: grid;
        grid-template-columns: 410px 1fr;
    }

    .order-image {
        max-width: 352px;
        order: 2;
        right: 90px;
        top: 160px;
    }

    .order-info {
        order: 1;
    }

    .bigstrawberry {
        position: absolute;
        top: -26px;
        left: -10px;
    }

    .smallstrawberry {
        left: 550px;
        bottom: 350px;
    }
}


/*320-767*/
@media screen and (max-width: 767px) {
    .container {
        max-width: 345px;
        padding: 0 13px;
    }

    header .container {
        justify-content: space-between;
    }

    .menu {
        display: none;
    }

    .main .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-info h1 {
        font-size: 32px;
        text-align: center;
        max-width: 338px;
    }

    .main-info-text {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    .main-action {
        text-align: center;
        margin: 0;
    }

    .main-image {
        max-width: 250px;
        bottom: auto;
        right: auto;
        margin: 38px 0;
        position: relative;
    }

    .main-image::after {
        width: 90px;
        height: 90px;
        animation: pulse 3s infinite .5s;
        left: 80px;
        top: 65px;
    }
    .main-image::before {
        width: 90px;
        height: 90px;
        animation: pulse 3s infinite;
        left: 80px;
        top: 65px;
    }

    .main-image img {
        max-width: 100%;
    }

    .description {
        padding: 120px 0 80px 0;
    }

    .description-info-title {
        font-size: 30px;
        line-height: 1.167;
        text-align: center;
        max-width: 317px;
    }

    .description-info-definition {
        text-align: center;
        margin: 40px auto 40px auto;
        font-size: 16px;
        line-height: 1.437;
        max-width: 343px;
    }

    .description-items {
        grid-template-columns: 166px 166px;
        margin-right: 0;
        margin-left: 0;
        grid-row-gap: 40px;
    }

    .description-item {
        width: 166px;
    }

    .description-item-text {
        width: 166px;
        font-size: 13px;
    }

    .description-item-title {
        width: 175px;
        font-size: 18px;
    }

    .choice {
        padding: 100px 0 120px 0;
    }

    .choice-title {
        font-size: 30px;
        max-width: 338px;
        margin-bottom: 122px;
    }
    .choice-items {
        grid-template-columns: 1fr;
        grid-row-gap: 142px;
        margin: 0 auto;
    }

    .choice-item {
        margin: 0 auto;
    }

    .order-title {
        font-size: 30px;
    }

    .order .container {
        grid-template-columns: 1fr;
    }

    .order-description {
        font-size: 16px;
        max-width: 344px;
    }

    .order {
        padding: 98px 0 77px 0;
    }

    .order-image {
        display: none;
    }

    .order-input-2 {
        width: 100%;
    }

    .order-button {
        width: 100%;
    }

    .input {
        width: 100%;
        box-sizing: border-box;
    }

    .smallstrawberry {
        left: auto;
        right: 20px;
    }

    .footer .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .logo-rights {
        text-align: center;
        order: 1;
    }

    .rights {
        text-align: center;
        order: 4;
    }

    .inst {
        text-align: center;
        order: 3;
    }

    .footer-number {
        text-align: center;
        order: 2;
    }

    .footer {
        padding: 50px 0;
    }

    .burger {
        display: block;
    }

    .burger svg {
        width: 36px;
        height: 36px;
        fill: #821328;
        margin-left: 188px;
    }

    .description-image {
        max-width: 302px;
    }

    .description-image img {
        max-width: 100%;
    }

    .gift {
        right: 10px;
        bottom: 10px;
    }

    .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        right: 0;
        background: #000000f0;
        z-index: 100;
    }

    .menu ul li a {
        font-size: 20px;
        color: white;
    }
    .menu-item {
        margin: 15px 0;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        height: 125px;
    }

    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(164, 107, 0);
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .menu.open {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 379px) {
    .burger svg {
        margin-left: 0;
    }

    .main-info h1 {
        margin: 0 auto;
    }

    .description-info-definition {
        font-size: 15px;
        max-width: 330px;
    }

    .gift {
        right: 5px;
        bottom: 5px;
    }

    .description-items {
        grid-template-columns: 166px 166px;
        justify-content: center;
    }
}

@media screen and (max-width: 374px) {
    .description-items {
        grid-template-columns: 166px;
        justify-content: center;
    }

    .burger svg {
        margin-left: 0;
    }
    .main-info h1 {
        max-width: 338px;
    }
    .description-image img {
        max-width: 100%;
    }
}